.a{
    font-family: "Poiret One",cursive;
    padding-top: 100px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
    font-size: 2em;
}
.b{
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}
.d{
    width: 50%;
    font-family: "Poiret One", cursive;
    color: lightslategray;
    font-size: 1em;   
}
.my_button {
    background-color: whitesmoke;
    border-radius:30px;
	/* border:1px solid gray; */
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:"Poiret One", cursive;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #2f6627; */
    box-shadow: 0px 1px 0px gray;
}
.my_button:active {
	position:relative;
    top:1px;
    box-shadow: 0px 0px 0px gray;
}